@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url("webcontent.css");
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* For colors and transition */
:root{
	/*	colors  */
	--body-color: #131313;
	--primary-color: #3BBA9C;
	--secondary-color: #FFF;
	--youtube: #FF0000;
	--facebook: #4267B2;
	--linkedin: #0e76a8;

/*	#008080;*/
	--primary-color-darker: #2f957d;
	--toggle-color: #DDD;
	--text-color: #707070;

	/*	Transition  */

	--tran-02: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.4s ease;
	--tran-05: all 1s ease;
	/*	for the delay of the elements  */
}

body{
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
header{
	display: flex;
	background: var(--body-color);
	justify-content: space-around;
	padding: 0;
	align-items: center;
	padding: 10px 0;
}
/* Menu logo */
.logo{
	display: flex;
	align-items: center;
	cursor: pointer;
	animation: slideleft 1s ease forwards;
}
.logo-background span{
	padding: 5px;
	font-weight: 600;
	border-radius: 10px;
}
.port span{
	color: var(--secondary-color);
	background: var(--primary-color);
}
.folio span{
	background: var(--secondary-color);
	color: var(--primary-color);
}
.logo img{
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.header_logo{
	color: var(--primary-color);;
	font-weight: 600;
}

/* Menu list */
.nav_list{
	display: flex;
	align-items: center;
	animation: slideright 1s ease forwards;
}
.nav_list a{
	display: inline-block;
	/*animation: slideTop .5s ease forwards;
	animation-delay: calc(.2s * var(--i));*/
}
.nav_item{
	margin: 0 8px;
}
.nav_link{
	padding: 10px;
	color: var(--secondary-color);
	font-size: 0.9rem;
	font-weight: 500;
	transition: all 1s ease;
	border-bottom: 1px solid var(--body-color);
}
.nav_link:hover,.active{
/*	background-color: red;*/
	transition: all 0.5s ease;
	color: var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
}
.header_toggle,
.header_close{
	display: none;
}

/* Menu button */
.btn-background{
	margin-left: 30px;
}
.btn-getin{
	background: var(--primary-color);
	color: var(--secondary-color);
	cursor: pointer;
	border-radius: 10px;
	padding: 10px 15px;
	border: none;
	font-weight: 600;
	transition: all .5s ease;
}
.btn-getin:hover{
	background: whitesmoke;
	color: var(--primary-color);
}
.menu-icons .icon-share{
	color: var(--secondary-color);
	padding: 0 5px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}
.menu-icons p{
	color: var(--secondary-color);
	font-size: .7rem;
}

/* share link */
.share-social{
	position: absolute;
	z-index: 120;
	top: 0%;
	background: var(--secondary-color);
	padding: 25px 20px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 3.36px 8.896px #c4b59d, 0 -2px 1px #fff;
	left: 50%;
	transition: transform 0.4s, top 0.4s;
	transform: translate(-50%, -50%);
	transform: translate(-50%, -50%) scale(1);
	visibility: hidden;
}

.open-popup{
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}
.share-social h1{
	font-size: 1rem;
}
.x-btn{
	position: absolute;
	top: -0%;
	right: 2%;
	font-size: 1.5rem;
	cursor: pointer;
}
.sharelink ion-icon{
	width: 30px;
	height: 30px;
	cursor: pointer;
}







@media screen and (max-width: 960px){
	header{
		height: 48px;
		justify-content: space-between;
		padding: 0 20px;
	}
/* Menu logo	*/
	.logo a{
		font-size: .7rem;
	}
	.logo img{
		width: 30px;
	}
	.logo-background p{
		padding: 2px;
	}
/* menu button	*/
	.btn-background{
		margin: 50px 0px;
	}
/* Menu text button */
	.header_toggle{
		display: inline;
		color: #eeee;
		font-size: 24px;
	}
	.header_close{
		position: absolute;
		right: 24px;
		display: block;
		font-size: 24px;
		border-radius: 50%;
	}
	.header_close:hover{
		background: red;
	}
	.nav{
		position: fixed;
		top: 0;
		right: -100%;
		background-color: #222831;
		color: #eeee;
		width: 100%;
		height: 100vh;
		padding: 24px 0;
		z-index: 100;
		transition: 0.5s;
/*		border-radius: 0 0 0 50%;*/
	}
	.nav_list{
		display: flex;
		flex-direction: column;
	}
	.nav_item{
		margin: 2rem 0;
	}
	.show{
		right: 0;
	}
	.share-social{
		width: 250px;
	}
}



/*KEYFRAME ANIMATION*/

@keyframes slideright{
	0%{
		transform: translateX(50px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes slideTop{
	0%{
		transform: translateY(50px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slideBottom{
	0%{
		transform: translateY(-50px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slideleft{
	0%{
		transform: translateX(-50px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes zoomIn{
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes floatImage{
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-24px);
	}
	100% {
		transform: translateY(0);
	}
}

